@import './normalize.css';
@import '../fonts/fonts.css';


body {
   font-family: 'Montserrat-MediumItalic';
   background-color: rgb(228, 228, 228);
   user-select: none;
}

.wrap {
   margin: 10px;
   /* border: 1px solid #0515fd; */

}

h1 {
   color: #656175;
}

.block-controls,
.block-results,
.footer-wrap {
   display: flex;
   position: relative;
   border: 2px solid #9e9fa8;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: 10px;

}

.block-results,
.footer-wrap {
   min-height: 100px;
   padding: 10px;
   justify-content: center;

}

.button,
.initial-data {
   width: 200px;
   height: 100px;
   border: 1px solid #bbbbc2;
   border-radius: 5px;
   margin: 5px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.initial-data {
   flex-grow: 1;
}

.footer-wrap {}


.test {
   width: 2000px;
   height: 2000px;
   background-color: rgb(211, 18, 18);


   margin: 50px;
}