@import './normalize.css';
@import '../fonts/fonts.css';


body {
   font-family: 'Montserrat-MediumItalic';
   background-color: rgb(228, 228, 228);


}

.wrap {
   /* margin: 10px; */
   padding: 10px;
   width: 1400px;
   /* border: 1px solid #fd0505; */
   display: flex;
   flex-direction: column;
   /* align-items: center; */

}

h1 {
   color: #656175;
   font-family: 'Montserrat-MediumItalic';
}

.block-controls,
.footer-wrap {
   display: flex;
   position: relative;
   align-items: center;
   margin-bottom: 10px;

}

.button {
   border: 1px solid #bbbbc2;
   border-radius: 5px;
   margin: 5px;
}

.button,
.initial-data {
   width: 200px;
   height: 100px;
   border-radius: 5px;
   margin: 5px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.initial-data {
   flex-grow: 1;
   font-size: 13px;
   padding-top: 5px;
   height: 150px;
   justify-content: space-around;
   margin-bottom: 50px;


}

.initBlocks {
   /* overflow-y: scroll; */
   overflow-y: auto;
   height: inherit;
   color: #443fdc;
   line-height: 20px;
   width: 30%;
   scrollbar-width: thin;
   scrollbar-color: #b6b7c3 #c7c8cb;
   border: 1px solid #bbbbc2;
   border-radius: 5px;
   padding: 10px;
   /* margin: 5px; */
}

.block-results {
   /* border: 2px solid #9e9fa8; */
   border-radius: 5px;

   display: flex;
   justify-content: space-between;


}

#formuls-block {
   margin: 0 10px;
   display: flex;
   justify-content: center;
}

#canv-1 {
   width: 1800px;
   height: 600px;
   border-radius: 5px;
   align-self: center;

   border: 1px solid #9ea8a0;

}
























.footer-wrap {
   min-height: 100px;
   padding: 10px;
   justify-content: center;

}



.footer-wrap {}


.test {
   width: 2000px;
   height: 2000px;
   background-color: rgb(211, 18, 18);


   margin: 50px;
}