/webpack/vendor
/webpack/node_modules
/webpack/dist

/laravel-mix/node_modules
/laravel-mix/public/build
/laravel-mix/public/hot
/laravel-mix/public/storage
/laravel-mix/storage/*.key
/laravel-mix/vendor
/laravel-mix/.env
/laravel-mix/.env.backup
/laravel-mix/.phpunit.result.cache
/laravel-mix/Homestead.json
/laravel-mix/Homestead.yaml
/laravel-mix/auth.json
/laravel-mix/npm-debug.log
/laravel-mix/yarn-error.log
/laravel-mix/.idea
/laravel-mix/.vscode

vendor
