@font-face {
   font-family: 'Montserrat-MediumItalic';
   src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Raleway-SemiBoldItalic';
   src: url('../fonts/Raleway-SemiBoldItalic.ttf') format('woff2');
}